{% extends 'navigation/main-nav.html.twig' %}

{% block navbar_logo %}<a href="{{site.uri.public}}" class="navbar-brand"><img src=""{{ assets.url('assets://userfrosting/logo-sofio.svg') }}" />{{site.title}}</a>{% endblock %}
